.row__color-11 {
    width: 30px;
    height: 30px;
    background: #9D6672;
border-radius: 10px;
}

@media screen and (max-width: 426px) {
    .row__color-11 {
        width: 25px;
        height: 25px;
        border-radius: 7px;
    }
}

@media screen and (max-width: 376px) {
    .row__color-11 {
        width: 20px;
        height: 20px;
        border-radius: 4px;
    }
}
