.row__text {
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #3E3E41;
margin: 0;
margin-left: 12px;
max-width: 320px;

}

@media screen and (max-width: 426px) {
    .row__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 376px) {
    .row__text {
        font-size: 14px;
    }
}
