.work__container {
    /* display: grid;
    grid-template-columns: 592px 638px;

    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 66px;
    grid-row-gap: 40px;
    margin-top: 70px; */
    display: grid;
    grid-template-columns: 592px 638px;
    grid-template-rows: 95px 95px 95px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 15px;
}

@media screen and (max-width: 1025px) {
    .work__container {
        display: grid;
            grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 940px) {
    .work__container {
        display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: inherit;
    }
}
